body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.button{
  width: 20%;
  margin: 20px auto;
  height: 100px;
  line-height:100px;
  text-align: center;
  font-size: 40px;
}

.ST{
  width: 100%;
  margin: 5px auto;
  line-height:50px;
  text-align: center;
  font-size: 30px;
}

.App{
  width: 90%;
  margin: 20px auto;
  height: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.A{
  width: 100%;
  align-items: center;
  text-align: center;
  line-height:50px;

}
